@tailwind base;
@tailwind components;
@tailwind utilities;

.border-level-0:before,
.border-level-1:before,
.border-level-2:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1.75px dashed;
    animation: rotate 110s linear infinite;
}

.border-level-0:before {
    --tw-border-opacity: 1;
    border-color: rgb(253 202 146 / var(--tw-border-opacity));
}

.border-level-0,
.border-level-1 {
    margin: 30px;
    
}

.border-level-1:before {
    --tw-border-opacity: 1;
    border-color: rgb(139 116 255 / var(--tw-border-opacity));
    animation-direction: reverse;
    
}

.border-level-2:before {
    --tw-border-opacity: 1;
    border-color: rgb(255 112 210 / var(--tw-border-opacity));
}